/* COLOR PALETTE MADE BY THE ELEMENTARY TEAM! EVERY RIGHT GOES THEM AND THEIR
FANTASTIC ELEMENTARY OS! NOTHING ELSE HAS BEEN BORROWED ONLY THE COLOR CODES!*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --STRAWBERRY_100: #ff8c82;
  --STRAWBERRY_300: #ed5353;
  --STRAWBERRY_500: #c6262e;
  --STRAWBERRY_700: #a10705;
  --STRAWBERRY_900: #7a0000;

  --ORANGE_100: #ffc27d;
  --ORANGE_300: #ffa154;
  --ORANGE_500: #f37329;
  --ORANGE_700: #cc3b02;
  --ORANGE_900: #a62100;

  --BANANA_100: #fff394;
  --BANANA_300: #ffe16b;
  --BANANA_500: #f9c440;
  --BANANA_700: #d48e15;
  --BANANA_900: #ad5f00;

  --LIME_100: #d1ff82;
  --LIME_300: #9bdb4d;
  --LIME_500: #68b723;
  --LIME_700: #3a9104;
  --LIME_900: #206b00;

  --MINT_100: #89ffdd;
  --MINT_300: #43d6b5;
  --MINT_500: #28bca3;
  --MINT_700: #0e9a83;
  --MINT_900: #007367;

  --BLUEBERRY_100: #8cd5ff;
  --BLUEBERRY_300: #64baff;
  --BLUEBERRY_500: #3689e6;
  --BLUEBERRY_700: #0d52bf;
  --BLUEBERRY_900: #002e99;

  --BUBBLEGUM_100: #fe9ab8;
  --BUBBLEGUM_300: #f4679d;
  --BUBBLEGUM_500: #de3e80;
  --BUBBLEGUM_700: #bc245d;
  --BUBBLEGUM_900: #910e38;

  --GRAPE_100: #e4c6fa;
  --GRAPE_300: #cd9ef7;
  --GRAPE_500: #a56de2;
  --GRAPE_700: #7239b3;
  --GRAPE_900: #452981;

  --COCOA_100: #a3907c;
  --COCOA_300: #8a715e;
  --COCOA_500: #715344;
  --COCOA_700: #57392d;
  --COCOA_900: #3d211b;

  --SILVER_100: #fafafa;
  --SILVER_300: #d4d4d4;
  --SILVER_500: #abacae;
  --SILVER_700: #7e8087;
  --SILVER_900: #555761;

  --SLATE_100: #95a3ab;
  --SLATE_300: #667885;
  --SLATE_500: #485a6c;
  --SLATE_700: #273445;
  --SLATE_900: #0e141f;

  --BLACK_100: #666;
  --BLACK_300: #4d4d4d;
  --BLACK_500: #333;
  --BLACK_700: #1a1a1a;
  --BLACK_900: #000;
}

html{
  overflow-x: hidden;
}

body {
  background-color: var(--BLACK_500);
  color: var(--SILVER_100);
  font-family: 'Montserrat';
  font-size: 22px;
}

.navbar-bg {
  background-color: var(--BLUEBERRY_500);
}

.nav-link,
.navbar,
.navbar-brand {
  color: var(--SILVER_100);
  transition: 0.2s ease-in-out;
  font-weight: 500;
}

.nav-item:hover{
  color: var(--BLUEBERRY_700);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.front-text{
  text-align: center;
  width: 100%;
  height: auto;
  justify-content: center;
  transform: translateY(50%);
}

.footer {
  text-align: center;
  top: auto;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: auto;
  padding-right: auto;
  background-color: var(--BLACK_900);
  width: 100%;font-size: 15px;
}

.footer2 {
  text-align: center;
  top: auto;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: auto;
  padding-right: auto;
  background-color: var(--BLACK_900);
  margin-top: 35px;
  width: 100%;
}
.bottom-link {
  color: var(--BLUEBERRY_500);
  transition: 0.2s ease-in-out;
  font-size: 30px;
  margin: 10px;
}

.yt:hover {
  color: var(--STRAWBERRY_300);
}

.gh:hover {
  color: var(--SILVER_300);
}
.dc:hover {
  color: var(--GRAPE_500);
}

.break{
  font-family: 'Montserrat';
  font-size: 15px;
}

.btn{
  background-color: var(--BLUEBERRY_500);
  color: var(--SILVER_100);
  text-align: center;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  font-weight: 500;
}

.btn:hover{
  background-color: var(--BLUEBERRY_700);
  color: var(--SILVER_100);
}