*{
  font-family: 'Montserrat';
}

.nav-selected{
  color: var(--BLUEBERRY_700) !important;
}

.pf-dl, .pf-yt{
  font-size: 40px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 10px;

}

.img-grid{
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.grid-item{
  display: block;
  flex-basis: 90%;
  padding: 10px;
  width: 33.33%;
  
}

@media only screen and (min-width: 600px){
  .grid-item{
    display: block;
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 1300px){
  .grid-item{
    display: block;
    flex-basis: 33.33%;
  }
}

@media only screen and (max-width: 800px){
  .grid-item{
    display: block;
    flex-basis: 150%;
  }
}

.img-grid-last{
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.grid-item-last{
  display: block;
  flex-basis: 90%;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 0;
}

@media only screen and (min-width: 600px){
  .grid-item-last{
    display: block;
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 1300px){
  .grid-item-last{
    display: block;
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 800px){
  .grid-item-last{
    display: block;
    flex-basis: 150%;
  }
}

.latest-project{
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 50px;

}

.header{
  background-color: var(--BLACK_900);
  height: 200px;
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Montserrat';
  position: relative;
}

.header-txt{
  text-align: center;
  font-family: 'Montserrat';
  font-size: 50px;
  font-weight: 500;
  margin-top: 15px;
}

.search, i{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}

.apple, .fa-apple {
  margin-right: 15px;
}

.pf-desc{
  font-size: 20px;
  margin-top: -35px;
}