@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(landing-bg.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  body{

      color: whitesmoke;
  }