.banner-top{
    background-color: black;
    height: 180px;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-txt, .banner-txt-desc{
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    overflow: hidden;
}

.banner-txt{
    font-size: 50px;
    font-weight: 500;
}

@media(max-width: 480px){
    .banner-txt{
        font-size: 25px;
    }
    .banner-txt-desc{
        font-size: 15px;
    }
}

.banner-txt-desc{
    margin: 0 25px;
}

body{
    background-color: #2F3132;
}

.card{
    background-color: #4b4e50;
    border: #141414 3px solid;
    border-radius: 8px;
    width: 100%;
}

.card-img-top{
    width: 100%;
    padding: 15px;
    height: auto;
}

.card #apollo, #l10s{
    width: 40%;
    margin: 0 auto;
    padding: 15px;
}

.card-text small{
    color: #C9302C !important;
    font-weight: 600;
}