#about-text {
  margin: 0px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 576px) {
  #about-text {
    margin: 0px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: 992px) {
  #about-text {
    margin: 0px;
    padding-right: 180px;
    padding-left: 180px;
  }
}

@media (min-width: 1200px) {
  #about-text {
    margin: 0px;
    padding-right: 300px;
    padding-left: 300px;
  }
}

@media (min-width: 300px) {
  .jumbotron #land-title {
    font-size: 56px;
    letter-spacing: 18px;
  }
}

@media (min-width: 768px) {
  .jumbotron #land-title {
    font-size: 96px;
    letter-spacing: 28px;
  }
}

@media (min-width: 1200px) {
  .jumbotron #land-title {
    font-size: 130px;
    letter-spacing: 28px;
  }
}

.nav-link {
  font-weight: 800;
  transition: 0.3s;
  color: rgb(0,62,128);
}

.nav-link {
  color: rgb(0,66,136);
  transition: 0.3s;
}

