.header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 200px;
    overflow: hidden;
}

.header .header-title{
    font-size: 70px;
    font-weight: 500;
}

.header .header-desc{
    font-style: italic;
}


@media (max-width: 876px){
    .header .header-title{
        font-size: 50px;
    }
}

@media (max-width: 876px){
    .header .header-desc{
        font-size: 15px;
        width: 80%;
    }
}

@media (max-width: 680px){
    .header .header-title{
        font-size: 35px;
    }
}

@media (max-width: 680px){
    .header .header-desc{
        font-size: 15px;
        width: 80%;
    }
}

@media (max-width: 480px){
    .header .header-title{
        font-size: 28px;
        width: 90%;
    }
}

@media (max-width: 480px){
    .header .header-desc{
        font-size: 15px;
        width: 80%;
    }
}

.list-icon{
    width: 150px;
}

.list-unstyled{
    width: 100%;
    padding: 0 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.top-btn{
    width: 100%;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    flex-direction: row;
    text-align: center;
}

.top-btn-width{
    padding: 10px;
    width: 200px;
}

.top-links{
    padding: 10px;
}

.download-link{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-icon-wide{
    width: 600px;
}

@media (max-width: 876px){
    .list-unstyled{
        width: 100%;
        padding: 0 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: center;
        flex-direction: column;
        text-align: center;
    }
    .list-icon-wide{
        width: 400px;
        padding-bottom: 15px;
    }

}

.list-icon, .list-icon-wide{
    padding-top: 25px;
    padding-bottom: 15px;
}

.list-unstyled h5{
    text-transform: uppercase;
    text-decoration-line: underline;
    font-size: 25px;
}

